{% if question_list %}
    You have following questions:
    <ul>
        {% for question in question_list %}
            <li style="{{ question.was_recently_published | yesno:'font-weight: 600,,' }}">
                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                {% if question.was_recently_published %}
                    -- recent
                {% endif %}    
            </li>  
        {% endfor %}
    </ul>
{% else %}
        <p> No polls are available. </p>
{% endif %}